*.o
*~
.deps
.libs
AutoQIIMEManual.pdf
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
aq-count-n
aq-demux-illumina
aq-estimateq
aq-fastq2oldillumina
aq-filter-fastq-known
aq-joinn
aq-marry-illumina-index
aq-mkrepset
aq-nmf
aq-nmf-concordance
aq-qualhisto
aq-syntheticfastq
autom4te.cache
autoqiime
autoqiime.1
autoqiime.c
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h*
config.log
config.status
configure
debian/*.log
debian/*.substvars
debian/files
fmap.c
fmap.h
joinn.c
libtool
m4/
mkrepset.c
stamp-h1
