*.o
*~
.deps
.libs
AXIOMEManual.pdf
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
aq-count-n
aq-demux-illumina
aq-estimateq
aq-fastq2oldillumina
aq-filter-fastq-known
aq-inst-cran
aq-joinn
aq-marry-illumina-index
aq-marry-otu-names
aq-mkrepset
aq-nmf
aq-nmf-concordance
aq-duleg
aq-pcoa
aq-pca
aq-mrpp
aq-otuwithseqs
aq-otudulegmerge
aq-qualhisto
aq-syntheticfastq
aqxs
autom4te.cache
axiome
axiome.1
axiome.c
axiome.deps
axiome.h
axiome.vapi
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h*
config.log
config.status
configure
cover.ps
debian/*.log
debian/*.substvars
debian/autoqiime
debian/autoqiime-dev
debian/axiome
debian/axiome-dbg
debian/axiome-dev
debian/files
debian/tmp
fasta.c
fasta.h
fasta.vapi
fmap.c
fmap.h
joinn.c
libtool
m4/
marry-otu.c
mkrepset.c
otuwithseqs.c
otudulegmerge.c
plugins/*.c
sample.aq
stamp-h1
