*.o
*~
.deps
.libs
AutoQIIMEManual.pdf
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
aq-count-n
aq-demux-illumina
aq-estimateq
aq-fastq2oldillumina
aq-filter-fastq-known
aq-inst-cran
aq-joinn
aq-marry-illumina-index
aq-mkrepset
aq-nmf
aq-nmf-concordance
aq-otuwithseqs
aq-qualhisto
aq-syntheticfastq
aqxs
autom4te.cache
autoqiime
autoqiime.1
autoqiime.c
autoqiime.deps
autoqiime.h
autoqiime.vapi
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h*
config.log
config.status
configure
cover.ps
debian/*.log
debian/*.substvars
debian/autoqiime
debian/autoqiime-dev
debian/files
debian/tmp
fasta.c
fmap.c
fmap.h
joinn.c
libtool
m4/
mkrepset.c
otuwithseqs.c
plugins/*.c
stamp-h1
